<!-- ======================== HERO BANNER========================== -->

<div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">

                    <!--First column-->
                    <div class="col-lg-6">
                        <div class="description">
                            <h2 class="h2-responsive wow fadeInLeft">Navigate complexity with confidence </h2>
                            <hr class="hr-dark wow fadeInLeft">
                            <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
                            <br>
                            <a class="btn btn-white-outline btn-lg wow fadeInLeft" data-wow-delay="0.7s">Learn more</a>
                        </div>
                    </div>
                    <!--/.First column-->
                </div>
            </div>
        </div>
</div>

<div class = "aligner"> <h1 class = "aligner-item"><strong> Where can we help?</h1> </div>


<!-- ======================== FUNCTIONAL LINE CARDS ========================== -->
<!-- =============================== Card 1 ================================= -->    
<div>
    <div class="container">
      
      <div class="row">
       
        <div class="col-md-4">
          <!--Rotating card-->
    <div class="card-wrapper">
        
        <div id="card-1" class="card-rotating effect__click">

            <!--Front Side-->
            <div class="face front">

                <!-- Image-->
                <div class="card-up">
                    <img src="http://mdbootstrap.com/images/reg/reg%20(35).jpg" class="img-fluid">
                </div>
                <!--Content-->
                <div class="card-block">
                    <h4>Finance &amp; Accounting</h4>
                    <p>INSERT DESCRIPTION HERE</p>
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"></i> Click here to rotate</a>

                    <form action = "/api/AF" method = "POST" value = "path_AF">
                        <div class = "aligner">
                            <button name = "busLine" type="submit" class="btn btn-primary-outline waves-effect aligner-item" value = "path_AF">Search Now</button> 
                        </div>
                    </form>

                </div>
            </div>
            <!--/.Front Side-->

            <!--Back Side-->
            <div class="face back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>
                <hr>
                <!--Social Icons-->
                <ul class="inline-ul">
                    <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Click here to rotate back</a>

            </div>
            <!--/.Back Side-->

        </div>
    </div>

    <!-- =============================== Card 2 ================================= -->    
    <!--/.Rotating card--> 
        </div>
        
        <div class="col-md-4">
          <!--Rotating card-->
    <div class="card-wrapper">
        <div id="card-2" class="card-rotating effect__click">

            <!--Front Side-->
            <div class="face front">

                <!-- Image-->
                <div class="card-up">
                    <img src="http://mdbootstrap.com/images/reg/reg%20(35).jpg" class="img-fluid">
                </div>
                <!--Content-->
                <div class="card-block">
                    <h4>Legal</h4>
                    <p>INSERT TEXT HERE</p>
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"></i> Click here to rotate</a>
                    
                    <form action = "/api/Legal" method = "POST" value = "path_Legal">
                        <div class = "aligner">
                            <button name = "busLine" type="submit" class="btn btn-primary-outline waves-effect aligner-item" value = "path_Legal">Search Now</button> 
                        </div>
                    </form>

                </div>
            </div>
            <!--/.Front Side-->

            <!--Back Side-->
            <div class="face back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>
                <hr>
                <!--Social Icons-->
                <ul class="inline-ul">
                    <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Click here to rotate back</a>

            </div>
            <!--/.Back Side-->

        </div>
    </div>
    <!--/.Rotating card--> 
        </div>

    <!-- =============================== Card 3 ================================= -->    
    <div class="col-md-4">
          <!--Rotating card-->
    <div class="card-wrapper">
        <div id="card-3" class="card-rotating effect__click">

            <!--Front Side-->
            <div class="face front">

                <!-- Image-->
                <div class="card-up">
                    <img src="http://mdbootstrap.com/images/reg/reg%20(35).jpg" class="img-fluid">
                </div>
                <!--Content-->
                <div class="card-block">
                    <h4>IT Services</h4>
                    <p>INSERT TEXT HERE</p>
                    <!--Triggering button-->
                    <a class="rotate-btn" data-card="card-3"><i class="fa fa-repeat"></i> Click here to rotate</a>

                     <form action = "/api/IT" method = "POST" value = "IT">
                        <div class = "aligner">
                            <button name = "busLine" type="submit" class="btn btn-primary-outline waves-effect aligner-item" value = "path_IT">Search Now</button> 
                        </div>
                    </form>

                </div>
            </div>
            <!--/.Front Side-->

            <!--Back Side-->
            <div class="face back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>
                <hr>
                <!--Social Icons-->
                <ul class="inline-ul">
                    <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-3"><i class="fa fa-undo"></i> Click here to rotate back</a>

            </div>
            <!--/.Back Side-->

        </div>
    </div>
    <!--/.Rotating card--> 
    </div>
        
    </div>

</div>

 <article class="banner">
    <div class="text-container">
        <h2>Start using the Naviqo network today</h2>
        <ul>
            <li><a class="banner-btn btn-pro">Service Firm</a></li>
            <li><a class="banner-btn btn-biz" data-toggle="modal" data-target="#modal-register">Business</a></li>
        </ul>
    </div>
</article>
                                

<!-- =============================== MODAL ================================= -->    
<div class="modal fade modal-ext" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> Register with:</h3>
            </div>
            <!--Body-->
            <form id = "busUserSignup" action = "/signup" method = "POST">
                <div class="modal-body">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="firstName" name = "firstName" class="form-control">
                        <label for="form1">First Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="lastName" name="lastName" class="form-control">
                        <label for="form2">Last Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="password" name="password" class="form-control">
                        <label for="form3">Your password</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="businessEmail" name="businessEmail" class="form-control">
                        <label for="form5">Business Email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="companyName" name="companyName" class="form-control">
                        <label for="form5">Company Name</label>
                    </div>

                    <div class="text-xs-center">
                        <button type ="submit" value = "submit" class="btn btn-primary btn-lg">Sign up</button>

                        <fieldset class="form-group">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">Subscribe me to the newsletter</label>
                        </fieldset>
                    
                    </div>
                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Already have an account? <a href="#">Log in</a></p>
                </div>
                <button type="button" value = class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>


<!-- JQuery -->
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/tether.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
 