.logo {
    background : url(/public/assets/logo/naviqo_logo.svg) no-repeat center;
    overflow:hidden;
    margin:0px;
    width:200px;
    height:40px;
    text-indent:100%;
    white-space:nowrap;
    background-size: 170px 40px;
}

html,
body,
header,
.view {
    height: 90%;
}

/*Intro*/

.view {
    background: url(/public/assets/images/naviqo_hero.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

/* CENTER CONTAINERS IN LANDING PAGE */
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

/* LOGIN BUTTON FOR NAV */
.loginButton{
  border: 2px solid #FC9923;
  color: #116990 !important;
  background-color: transparent;
}

.loginButton:hover, .loginButton:focus {
  color: #ffbb33;
}

/* POST BANNER & BUTTONS*/

article.banner{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #116990;
  color: #ffffff;
}

article.banner .text-container{
  width: 60%;
  display: inline-block;
  margin-top: 30px;
}

article.banner .text-container ul{
  padding-left: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

article.banner .text-container > ul > li {
  margin:0px;
  padding:10px;
  width: 200px;
  overflow:hidden;
  display: inline-block;
}

.banner-btn {
  display:inline-block;
  text-align:center;
  border:none;
  cursor:pointer;
  border: none;
  min-height: 30px;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-pro{
  width: 150px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 8px 15px;
  color: #FC9923 !important;
}

.btn-biz{
  width: 150px;
  border: 1px solid #FC9923;
  border-radius: 100px;
  padding: 8px 15px;
  color: #ffffff;
}


/* ======================= SEARCH RESULTS ========================== */ 
.search-results{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.search_result{
  position : relative;
  width : 80%;
  margin : 0 auto;
  border : 1px solid #AAAAAA;
  border-radius : 25px;
  font : inherit;
  font-size : 16px;
  line-height : 1.2;
  text-align : center;
}

.companyLogo {
  position: relative;
  width: 200px;
  height: 130px;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  margin-top : 7px;
  margin-left : 7px;
}

.address {
  margin-top: 5px !important;
  margin-left : 7px !important;
}

.selectDiv {
  height : 100%;
}

.selected {
  color : green;
  border : 5px solid green;
}




















